<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title th:text="#{msg.index.title}">欢迎</title>
<body th:replace="~{/framework/main}">
<div th:fragment="mainContent">
    <div class="row">
        <div class="page-header pt-5">
            <ul>
                <li class="p-1">
                    <a th:href="@{/priv/}">
                        <button class="btn btn-outline-primary">返回首页</button>
                    </a>
                </li>
                <li class="p-1">
                    <a th:href="@{log}">
                        <button class="btn btn-outline-primary">查看日志</button>
                    </a>
                </li>
                <li class="p-1">
                    <a th:href="@{userList}">
                        <button class="btn btn-outline-primary">查看用户</button>
                    </a>
                </li>
                <li class="p-1">
                    <a th:href="@{addUser}">
                        <button class="btn btn-outline-primary">添加用户</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>