<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title th:text="#{msg.index.title}">欢迎</title>
<body th:replace="~{/framework/main}">
<div th:fragment="mainContent">
    <div class="row">
        <div class="row mb-3 col-12 ">
            <div class="col-12">
                <div class="card card-small ">
                    <div class="card-body">
                        <ul>
                            <li class="p-1">
                                <a th:href="@{index}">
                                    <button class="btn btn-outline-primary">返回首页</button>
                                </a>
                                <a th:href="@{addUser}">
                                    <button class="btn btn-outline-primary">添加用户</button>
                                </a>
                            </li>
                            <li>
                                <h3>Customer</h3>
                                <table id="t1"></table>
                            </li>
                            <li>
                                <h3>Manager</h3>
                                <table id="t2"></table>

                            </li>
                            <li>
                                <h3>Staff</h3>
                                <table id="t3"></table>
                            </li>
                            <li>
                                <h3>Login</h3>
                                <table id="t4"></table>
                            </li>
                        </ul>
                        <script>
                            generateTables('http://localhost:8080/api/admin/users/Customer', 'Customer', false, 't1');
                            generateTables('http://localhost:8080/api/admin/users/Manager', 'Manager', false, 't2');
                            generateTables('http://localhost:8080/api/admin/users/Staff', 'Staff', false, 't3');
                            generateTables('http://localhost:8080/api/admin/users/Login', 'Login', false, 't4');
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>