<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title>TEst~!</title>
<body>
<ul class="nav flex-column" th:fragment="sidebar">
    <li th:replace="/framework/sidebar::nav-item('edit','Blog Dashboard',@{/index},true)"></li>
    <li th:replace="/framework/sidebar::nav-item('border_all','Test Page',@{/test},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('border_all','Error Page',@{/error},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('border_all','Error Page',@{/error},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('border_all','Error Page',@{/error},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('border_all','Error Page',@{/error},false)"></li>
</ul>
</body>
</html>