<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title th:text="#{msg.manger.addInt.title}">添加</title>
<body th:replace="~{/framework/main}">
<div th:fragment="mainContent">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title" th:text="#{msg.manager.addInt.header.title}">添加</h3>
        </div>
    </div>
    <div class="row ">
        <div class="mb-3 col-12 ">
            <div class="card card-small ">
                <div class="card-header ">
                </div>
                <div class="card-body">
                    <form id="form" method="post" onsubmit="return formSubmit()" th:action="@{addIntroduction}">
                        <div class="form-group col-md-7">
                            <strong class="text-muted d-block mb-2"
                                    th:text="#{msg.manager.sidebar.introduction.type}">类型</strong>
                            <select class="form-control" id="inputState" name="type">
                                <option selected="" value="负债业务">负债业务</option>
                                <option value="资产业务">资产业务</option>
                                <option value="中间业务">中间业务</option>
                            </select>
                        </div>
                        <br>
                        <div th:replace="/parts::titledTextarea(#{msg.manager.sidebar.addInt.content},'content','','')"></div>
                        <br>
                        <div class="form-group col-md-12">
                            <button class="mb-2 btn btn-outline-primary mr-2" id="button"
                                    th:text="#{msg.manager.sidebar.addInt.button}"
                                    type="submit">发布
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>