<!doctype html>
<html class="no-js h-100" lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:inline="javascript">
        if (!window.Turbolinks) window.location.replace('/?redirect=' + window.location.pathname);
        if ([[${login!=null}]]) Turbolinks.visit("/priv/index", {action: "replace"});
    </script>
    <meta content="no-preview" name="turbolinks-cache-control">
    <meta charset="UTF-8">
    <title th:text="#{msg.login.title}">123</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
</head>
<body class="h-100">
<div class="container-fluid">
    <div class="row">
        <main class="col-lg-4 col-md-6 col-sm-12 offset-lg-4 offset-md-3" id="mainContent" style="display: none;">
            <div id="alert"></div>
            <div class="page-header row no-gutters py-4">
                <!--                <div class="col-12 col-sm-4 text-center text-sm-left mb-0"></div>-->
            </div>
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h5 class="m-0" th:text="#{msg.login.title}">Login</h5>
                        </div>
                        <form id="form" method="POST" onsubmit="return formSubmit(null,'form',null,disconnect())"
                              th:action="@{/login}">
                            <ul class="card-body list-group list-group-flush">
                                <li class="list-group-item px-3">
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">person</i>
                                            </span>
                                        </span>
                                            <input class="form-control" id="username" name="username"
                                                   required th:placeholder="#{msg.login.uid}"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group input-group-seamless">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock</i>
                                            </span>
                                        </span>
                                            <input class="form-control" id="password" name="password"
                                                   required th:placeholder="#{msg.login.pwd}"
                                                   type="password">
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <button class="btn btn-outline-primary btn-block form-control" id="button"
                                                th:text="#{msg.login.btn.login}"
                                                type="submit">Primary
                                        </button>
                                    </div>
                                    <div class="input-group mb-3">
                                        <a class="btn-block" th:href="@{/signup}">
                                            <button class="btn btn-outline-warning form-control"
                                                    th:text="#{msg.login.btn.register}"
                                                    type="button">Secondary
                                            </button>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="main-footer d-flex p-2 px-3 bg-white border-top fixed-bottom">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/priv/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/}">Admin</a>
        </li>
    </ul>
    <span class="copyright ml-auto my-auto mr-2">Copyright © 2019
              <a href="#" rel="nofollow">WebHW 162012322</a>
            </span>
</footer>
<script data-turbolinks-eval=true>init()</script>
</body>
</html>