<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title th:text="#{msg.logout.title}">LOGOOOOUTTTTTTT</title>
<body th:replace="~{/framework/brief}">
<div th:fragment="mainContent">
    <div class="error">
        <div class="error__content">
            <h2 th:text="#{msg.logout}">ERROR</h2>
        </div>
    </div>
    <form id="form" method="POST" th:action="@{/logout}"></form>
    <script>
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        console.log("Disconnected");
        doSubmit($('#form'));
    </script>
</div>
</body>
</html>