<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title th:text="#{msg.mesmesIntroduction.title}">产品</title>
<body th:replace="/framework/main">
<div th:fragment="mainContent">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 th:text="#{msg.mesmesIntroduction.title}" class="page-title">清单</h3>
        </div>
    </div>
    <div class="row ">
        <div class="mb-3 col-12 ">
            <div class="card card-small ">
                <div class="card-header ">
                    <button class="btn btn-outline-info" onclick="goBack()">←返回</button>
                </div>
                <div class="card-body">
                    <!--/*@thymesVar id="data" type="nchu2.webhw.model.tables.pojos.Production"*/-->
                    <div th:if="${data==null}">
                        <h1>查询的产品不存在</h1>
                    </div>
                    <form th:if="${data!=null}" th:action="@{order}" method="post" onsubmit="return formSubmit()">
                        <div class="form-row pl-3">
                            <div th:replace="/parts::TextInput(#{msg.mesmesIntroduction.pid},'pId',${data.getPId()},'disabled')"></div>
                            <div th:replace="/parts::TextInput(#{msg.mesmesIntroduction.mid},'loginname',${data.getLoginname()},'disabled')"></div>
                        </div>
                        <div class="form-row pl-3">
                            <div th:replace="/parts::TextInput(#{msg.mesmesIntroduction.risk},'risk',${data.getRisk()},'disabled')"></div>
                            <div th:replace="/parts::titledTextInputAf(#{msg.mesmesIntroduction.profit},'%','profit',${data.getProfit()},'disable')"></div>
                        </div>

                        <div th:replace="/parts::titledTextInput(#{msg.mesmesIntroduction.rmb},'￥','pmin',${data.getPmin()},'disabled')"></div>
                        <br>
                        <div th:replace="/parts::titledTextarea(#{msg.mesmesIntroduction.content},'intro',${data.getIntro()},'disabled')"></div>
                        <br>
                        <div class="form-row" th:if="${#strings.equals(userType,'Customer')}">
                            <div th:replace="/parts::titledTextInput(#{msg.customer.mesmesIntroduction.rmb},'￥','buymoney','','')"></div>
                            <div class="form-group">
                                <strong class="text-muted d-block mb-2"
                                        th:text="#{msg.customer.production.time}">购买时长</strong>
                                <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                                    <label class="btn btn-white">
                                        <input type="radio" name="buyduration" id="option1" autocomplete="off"
                                               value="1">
                                        1年
                                    </label>
                                    <label class="btn btn-white">
                                        <input type="radio" name="buyduration" id="option2" autocomplete="off"
                                               value="3">
                                        3年
                                    </label>
                                    <label class="btn btn-white">
                                        <input type="radio" name="buyduration" id="option3" autocomplete="off"
                                               value="5">
                                        5年
                                    </label>
                                </div>
                            </div>
                            <div class="pl-3 pt-4">
                                <button type="submit" class="mt-2 btn btn-outline-primary mr-2"
                                        id="button" th:text="#{msg.mesmesIntroduction.button}">Primary
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>