<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<body>
<ul class="nav flex-column" th:fragment="manager">
    <li th:replace="/framework/sidebar::nav-item('add_circle_outline',#{msg.manager.sidebar.add.production},@{/index},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('select_all',#{msg.manager.sidebar.select.production},@{/test},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('saved_search',#{msg.manager.sidebar.select.order},@{/error},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('search',#{msg.manager.sidebar.select.loan},@{/error},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('add_comment',#{msg.manager.sidebar.add.Introduction},@{/error},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('insert_chart_outlined',#{msg.manager.sidebar.chart.order},@{/error},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('pie_chart_outlined',#{msg.manager.sidebar.chart.loan},@{/error},false)"></li>

</ul>
<ul class="nav flex-column" th:fragment="customer">
    <li th:replace="/framework/sidebar::nav-item('shield',#{msg.customer.sidebar.buy},@{buy},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('shopping_cart',#{msg.customer.sidebar.bought},@{bought},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('credit_card',#{msg.customer.sidebar.loan},@{loan},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('mark_as_unread',#{msg.customer.sidebar.advice},@{advice},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('sms_failed',#{msg.customer.sidebar.ticket},@{ticket},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('assignment_turned_in',#{msg.customer.sidebar.result},@{result},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('map',#{msg.customer.sidebar.map},@{map},false)"></li>
</ul>
<ul class="nav flex-column" th:fragment="staff">
    <li th:replace="/framework/sidebar::nav-item('create_new_folder',#{msg.staff.sidebar.advice},@{/index},false)"></li>
    <li th:replace="/framework/sidebar::nav-item('assignment_late',#{msg.staff.sidebar.ticket},@{/test},false)"></li>
</ul>
</body>
</html>