<!doctype html>
<html class="no-js h-100" lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <script>if (!window.Turbolinks) window.location.replace('/?redirect=' + window.location.pathname);</script>
    <script th:inline="javascript">if ([[${login!=null}]]) Turbolinks.visit("/priv/index", {action: "replace"});</script>
    <meta name="turbolinks-cache-control" content="no-preview">
    <meta charset="UTF-8">
    <title th:text="#{msg.signup.title}">123</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="h-100">
<div class="container-fluid">
    <div class="row">
        <main class="col-lg-4 col-md-6 col-sm-12 offset-lg-4 offset-md-3" style="display: none;" id="mainContent">
            <div id="alert"></div>
            <div class="page-header row no-gutters py-4">
                <!--                <div class="col-12 col-sm-4 text-center text-sm-left mb-0"></div>-->
            </div>
            <div class="row">
                <div class="mb-3 col-12 ">
                    <div class="card card-small ">
                        <div class="card-body">
                            <form id="form" method="post" onsubmit="return formSubmit()" th:action="signup">
                                <div class="col-12"
                                     th:include="/parts::TextInput(#{msg.profile.username},'loginname','','')"></div>
                                <br>
                                <div class="col-12"
                                     th:include="/parts::passwordInput(#{msg.signup.password},'password','','')"></div>
                                <br>
                                <div class="col-12"
                                     th:include="/parts::TextInput(#{msg.profile.phoneNum},'phonenum','','')"></div>
                                <br>
                                <div class="col-12"
                                     th:include="/parts::TextInput(#{msg.profile.personid},'personid','','')"></div>
                                <br>
                                <div class="form-row p-3">
                                    <div class="form-group col-md-5">
                                        <label for="sex">性别</label>
                                        <div class="form-row pl-3 pt-1" id="sex">
                                            <div class="custom-control custom-radio mb-1 pr-5">
                                                <input type="radio" id="formsRadioDefault" name="sex"
                                                       class="custom-control-input"
                                                       value="Male">
                                                <label class="custom-control-label" for="formsRadioDefault">男</label>
                                            </div>
                                            <div class="custom-control custom-radio mb-1">
                                                <input type="radio" id="formsRadioChecked" name="sex"
                                                       class="custom-control-input"
                                                       value="Female">
                                                <label class="custom-control-label" for="formsRadioChecked">女</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12"
                                     th:include="/parts::TextInput(#{msg.profile.adress},'adress','','')"></div>
                                <br>

                                <div class="form-group col-12">
                                    <button class="btn-block mb-2 btn btn-outline-primary mr-2" id="button"
                                            type="submit"
                                            th:text="#{msg.signup.button}">提交
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>
<script data-turbolinks-eval=true>init()</script>
</body>
</html>