<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title th:text="#{msg.staff.advice.title}">收集意见</title>
<body th:replace="~{/framework/main}">
<div th:fragment="mainContent">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title" th:text="#{msg.staff.advice.header.title}">筛选</h3>
        </div>
    </div>
    <div class="row ">
        <div class="mb-3 col-12 ">
            <div class="card card-small ">
                <div class="card-header "></div>
                <div class="card-body">
                    <div th:include="/parts::table('/api/user/advice','Opinion')"></div>
                    <!--                    <table class="table mb-0">-->
                    <!--                        <thead class="bg-light">-->
                    <!--                        <tr>-->
                    <!--                            <th scope="col" class="border-1">选择</th>-->
                    <!--                            <th scope="col" class="border-1">时间</th>-->
                    <!--                            <th scope="col" class="border-1">意见类型</th>-->
                    <!--                            <th scope="col" class="border-1">意见内容</th>-->
                    <!--                        </tr>-->
                    <!--                        </thead>-->
                    <!--                        <tbody>-->
                    <!--                        <tr>-->
                    <!--                            <td></td>-->
                    <!--                            <td>2019-5-25</td>-->
                    <!--                            <td>界面方面</td>-->
                    <!--                            <td>太好看了</td>-->
                    <!--                        </tr>-->
                    <!--                        </tbody>-->
                    <!--                    </table>-->
                    <div class="form-group col-md-12">
                        <button class="mb-2 btn btn-outline-primary mr-2" onclick="apiSubmit('/api/user/advice/x','post',$('#table').bootstrapTable('getSelections'),function(data) {
                                  showSuccessAlert(data.responseText);
                                  $('#table').bootstrapTable('refresh');
                                })"
                                th:text="#{msg.staff.sidebar.advice.button.x}"
                                type="button">X
                        </button>
                        <button class="mb-2 btn btn-outline-primary mr-2" onclick="apiSubmit('/api/user/advice/v','post',$('#table').bootstrapTable('getSelections'),function(data) {
                                  showSuccessAlert(data.responseText);
                                  $('#table').bootstrapTable('refresh');
                                })"
                                th:text="#{msg.staff.sidebar.advice.button.v}"
                                type="button">V
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>