<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<title th:text="#{msg.staff.ticket.title}">投诉受理</title>
<body th:replace="~{/framework/main}">
<div th:fragment="mainContent">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title" th:text="#{msg.staff.ticket.header.title}">受理</h3>
        </div>
    </div>
    <div class="row ">
        <div class="mb-3 col-12 ">
            <div class="card card-small ">
                <div class="card-header "></div>
                <div class="card-body">
                    <div th:include="/parts::tableNoCheckbox('/api/user/ticket','Ticket')"></div>
                    <script>
                        $('#table').on('click-row.bs.table', function (e, row, $element, field) {
                            Turbolinks.visit("answerTicket?arg=" + row.tid);
                        })
                    </script>
                    <!--                    <table class="table mb-0">-->
                    <!--                        <thead class="bg-light">-->
                    <!--                        <tr>-->
                    <!--                            <th scope="col" class="border-1">选择</th>-->
                    <!--                            <th scope="col" class="border-1">投诉时间</th>-->
                    <!--                            <th scope="col" class="border-1">投诉类型</th>-->
                    <!--                            <th scope="col" class="border-1">投诉内容</th>-->
                    <!--                            <th scope="col" class="border-1">受理时间</th>-->
                    <!--                            <th scope="col" class="border-1">受理结果</th>-->
                    <!--                        </tr>-->
                    <!--                        </thead>-->
                    <!--                        <tbody>-->
                    <!--                        <tr>-->
                    <!--                            <td></td>-->
                    <!--                            <td>2019-5-25</td>-->
                    <!--                            <td>界面方面</td>-->
                    <!--                            <td>太好看了</td>-->
                    <!--                            <td></td>-->
                    <!--                            <td></td>-->
                    <!--                        </tr>-->
                    <!--                        </tbody>-->
                    <!--                    </table>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>