<!doctype html>
<html class="no-js h-100" lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        if (!window.Turbolinks) window.location.replace('/?redirect=' + (window.location + "").substring(window.location.origin.length));
    </script>
    <meta content="no-cache" name="turbolinks-cache-control">
    <meta charset="UTF-8">
    <title>Shards Dashboard Lite - Free Bootstrap Admin Template – DesignRevision</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
</head>
<body class="h-100">
<div class="container-fluid">
    <div class="row">
        <main class="main-content col-12 p-0">
            <div class="main-navbar sticky-top bg-white">
                <div id="alert"></div>
                <div class="main-content-container container-fluid px-4" id="mainContent" style="display: none;"
                     th:include="::mainContent">
                    Main content
                </div>
                <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/priv/}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/}">Admin</a>
                        </li>
                    </ul>
                    <span class="copyright ml-auto my-auto mr-2">Copyright © 2019
              <a href="#" rel="nofollow">WebHW 162012322</a>
            </span>
                </footer>
        </main>
    </div>
</div>
<script data-turbolinks-eval=true>
    if ([[${userType != null}]]) setUT("[[${userType}]]");
    init()
</script>
</body>
</html>