<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="welcomeMsg (name)">
    <header class="card-header">欢迎使用学生选课系统<!--/*@thymesVar id="name" type="java.lang.String"*/-->
        <span th:text="${name}"></span></header>
</div>

<div th:fragment="table(jURL,table)">
    <table id="table"></table>
    <script th:inline="javascript">
        generateTables([[${jURL}]], [[${table}]]);
    </script>
</div>
<div class="form-group col-md-12" th:fragment="titledTextarea(title,id)">
    <strong class="text-muted d-block mb-2"
            th:text="${title}">投诉内容</strong>
    <textarea class="form-control" th:id="${id}"></textarea>
</div>
<div class="form-group col-md-7" th:fragment="titledIconText(title,icon,id)">
    <strong class="text-muted d-block mb-2" th:text="$(title)">贷款金额</strong>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" th:text="${icon}">￥</span>
        </div>
        <input type="text" class="form-control" th:id="${id}">
    </div>
</div>
<div class="form-group col-md-7" th:fragment="titledText(title,id)">
    <strong class="text-muted d-block mb-2" th:text="$(title)">贷款金额</strong>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" th:text="${icon}">￥</span>
        </div>
        <input type="text" class="form-control" th:id="${id}">
    </div>
</div>
</html>